In [1]:
import pandas as pd

In [2]:
flamengo = pd.read_html("https://pt.wikipedia.org/wiki/Temporada_do_Clube_de_Regatas_do_Flamengo_de_2021")

In [3]:
time1 = flamengo[81][1][0]
placar = flamengo[81][2][0]
time2 = flamengo[81][3][0]
resultado = time1 + placar  +time2
resultado

'Flamengo1 – 0Palmeiras'

In [4]:
df= pd.DataFrame()
for i in range(81,119):
    time1 = flamengo[i][1][0]
    resultado = flamengo[i][2][0]
    time2 = flamengo[i][3][0]
    row = pd.Series([time1,resultado,time2])
    row_df = pd.DataFrame([row])
    df = pd.concat([row_df, df], ignore_index=True)

In [5]:

#mudar o nome das colunas
df.columns= ["time1","resultado","time2"]

In [6]:
#separar em duas colunas
new = df["resultado"].str.split(" ", n=1, expand=True)
df["Home"] = new[0]
df["Away"] = new[1]
new = df["Away"].str.split(" ", n=1, expand=True)
df["Away"] = new[1]
df

                   time1 resultado                 time2 Home Away
0    Atlético Goianiense     2 – 0              Flamengo    2    0
1               Flamengo     0 – 1                Santos    0    1
2               Flamengo     2 – 1                 Ceará    2    1
3                  Sport     1 – 1              Flamengo    1    1
4          Internacional     1 – 2              Flamengo    1    2
5               Flamengo     1 – 0           Corinthians    1    0
6              São Paulo     0 – 4              Flamengo    0    4
7               Flamengo     3 – 0                 Bahia    3    0
8            Chapecoense     2 – 2              Flamengo    2    2
9               Flamengo     1 – 0      Atlético Mineiro    1    0
10            Fluminense     3 – 1              Flamengo    3    1
11              Flamengo     0 – 0                Cuiabá    0    0
12              Flamengo     3 – 1             Juventude    3    1
13             Fortaleza     0 – 3              Flamengo    0    3
14   Red Bull Bragantino     1 – 1              Flamengo    1    1
15              Flamengo     3 – 0  Athletico Paranaense    3    0
16       América Mineiro     1 – 1              Flamengo    1    1
17              Flamengo     0 – 1                Grêmio    0    1
18             Palmeiras     1 – 3              Flamengo    1    3
19              Flamengo     2 – 0   Atlético Goianiense    2    0
20                Santos     0 – 4              Flamengo    0    4
21                 Ceará     1 – 1              Flamengo    1    1
22              Flamengo     2 – 0                 Sport    2    0
23              Flamengo     0 – 4         Internacional    0    4
24           Corinthians     1 – 3              Flamengo    1    3
25              Flamengo     5 – 1             São Paulo    5    1
26                 Bahia     0 – 5              Flamengo    0    5
27              Flamengo     2 – 1           Chapecoense    2    1
28      Atlético Mineiro     2 – 1              Flamengo    2    1
29              Flamengo     0 – 1            Fluminense    0    1
30                Cuiabá     0 – 2              Flamengo    0    2
31             Juventude     1 – 0              Flamengo    1    0
32              Flamengo     2 – 1             Fortaleza    2    1
33              Flamengo     2 – 3   Red Bull Bragantino    2    3
34  Athletico Paranaense     2 – 2              Flamengo    2    2
35              Flamengo     2 – 0       América Mineiro    2    0
36                Grêmio     2 – 2              Flamengo    2    2
37              Flamengo     1 – 0             Palmeiras    1    0

In [7]:
import numpy as np

In [8]:
#Cria colunas de gols pro e gols contra
df['pro'] = np.where(df['time1']== 'Flamengo', df["Home"], df["Away"])
df['contra'] = np.where(df['time1']!= 'Flamengo', df["Home"], df["Away"])

In [9]:
df

                   time1 resultado                 time2 Home Away pro contra
0    Atlético Goianiense     2 – 0              Flamengo    2    0   0      2
1               Flamengo     0 – 1                Santos    0    1   0      1
2               Flamengo     2 – 1                 Ceará    2    1   2      1
3                  Sport     1 – 1              Flamengo    1    1   1      1
4          Internacional     1 – 2              Flamengo    1    2   2      1
5               Flamengo     1 – 0           Corinthians    1    0   1      0
6              São Paulo     0 – 4              Flamengo    0    4   4      0
7               Flamengo     3 – 0                 Bahia    3    0   3      0
8            Chapecoense     2 – 2              Flamengo    2    2   2      2
9               Flamengo     1 – 0      Atlético Mineiro    1    0   1      0
10            Fluminense     3 – 1              Flamengo    3    1   1      3
11              Flamengo     0 – 0                Cuiabá    0    0   0      0
12              Flamengo     3 – 1             Juventude    3    1   3      1
13             Fortaleza     0 – 3              Flamengo    0    3   3      0
14   Red Bull Bragantino     1 – 1              Flamengo    1    1   1      1
15              Flamengo     3 – 0  Athletico Paranaense    3    0   3      0
16       América Mineiro     1 – 1              Flamengo    1    1   1      1
17              Flamengo     0 – 1                Grêmio    0    1   0      1
18             Palmeiras     1 – 3              Flamengo    1    3   3      1
19              Flamengo     2 – 0   Atlético Goianiense    2    0   2      0
20                Santos     0 – 4              Flamengo    0    4   4      0
21                 Ceará     1 – 1              Flamengo    1    1   1      1
22              Flamengo     2 – 0                 Sport    2    0   2      0
23              Flamengo     0 – 4         Internacional    0    4   0      4
24           Corinthians     1 – 3              Flamengo    1    3   3      1
25              Flamengo     5 – 1             São Paulo    5    1   5      1
26                 Bahia     0 – 5              Flamengo    0    5   5      0
27              Flamengo     2 – 1           Chapecoense    2    1   2      1
28      Atlético Mineiro     2 – 1              Flamengo    2    1   1      2
29              Flamengo     0 – 1            Fluminense    0    1   0      1
30                Cuiabá     0 – 2              Flamengo    0    2   2      0
31             Juventude     1 – 0              Flamengo    1    0   0      1
32              Flamengo     2 – 1             Fortaleza    2    1   2      1
33              Flamengo     2 – 3   Red Bull Bragantino    2    3   2      3
34  Athletico Paranaense     2 – 2              Flamengo    2    2   2      2
35              Flamengo     2 – 0       América Mineiro    2    0   2      0
36                Grêmio     2 – 2              Flamengo    2    2   2      2
37              Flamengo     1 – 0             Palmeiras    1    0   1      0

In [10]:
df.to_csv("flamengo.csv", sep='\t', encoding='utf-8')